<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Air</h1>
  
  <!-- <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
   
    {% endif %}
  </ul>
  -->
  
</nav>
<h7>{% for elem in data %} {{elem}} {% endfor %}</h7><br> 
<meta http-equiv="refresh" content="5">  
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
